h1{
    color: bisque;font-size:25px;
    text-align: center;
}
body{
    /* 设置自动 */
    max-width: 100%;
    width:1500px;
    height:1500px;
    overflow:scroll;
    background: url(lnu.jpg)  no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
    background-color:#CCCCCC;
 }

 div.LoginDIV{
    width: 300px;
    height: 50px;
    text-align: center;
    margin:10px auto;
    padding:10px 10px 20px 10px;
    border:1px solid #BFBFBF;
    background-color:rgba(255, 255, 255, 0.658);
    /* Add box-shadow */
    box-shadow:2px 2px 3px #aaaaaa;

}