h1{
    margin:20px auto;
    color: black;     
    width:500px;
    height: 200px;
    padding:20px 25px;
    border:1px solid #BFBFBF;
    background: #000 url("../images/title.jpg");
    background-size:cover;
    /* Add box-shadow */
}

body{
    max-width: 100%;
    width:1500px;
    height:1500px;
    overflow:scroll;
    background: url(../images/admin.jpg)  no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
    background-color:#CCCCCC;
 }

 div.display{
    text-align: center;
 }


