<!DOCTYPE>
<html>
    <head>
        <title> Admin page</title>
        <meta charset="utf-8">
        <meta property="og:title" content="Start page" />
        <meta property="og:type" content="website" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/css/admin.css"/>
    <head>
            
            <header>
                   
                    <h1><br><br>Welcome To Admin page</h1>
            </header>
            <body>

                    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                            <form class="form-inline">
                          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#d1" aria-expanded="false" aria-controls="d1">
                           Search User
                          </button>
                          &nbsp;
                          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#d2" aria-expanded="false" aria-controls="d2">
                                Create A New User
                              </button>
                            </form>
                    </nav>
                        
                    <div class="row">
                            <div class="col">
                              <div class="collapse multi-collapse" id="d1">
                                <div class="card card-body">
                                        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                                                <form class="form-inline">
                                                    First Name: &nbsp;
                                                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                                        Last Name: &nbsp;
                                                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                                        User ID:&nbsp;
                                                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                                        <button class="btn btn-primary" type="submit"data-toggle="collapse" data-target="#d3" aria-expanded="false" aria-controls="d3">Search</button>
                                                        
                                                      </form>
                                        </nav>
                                        <div class="collapse multi-collapse" id="d3">
                                                <div class="row">
                                                  <div class="col">
                                                    Display User List Or Display Search Result   
                                                    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                                                            <form class="form-inline">
                                                                    Supervisor: &nbsp;
                                                                    <input class="form-control mr-sm-2" type="checkbox" placeholder="Search" aria-label="Search">
                                                                    Reader: &nbsp;
                                                                    <input class="form-control mr-sm-2" type="checkbox" placeholder="Search" aria-label="Search">
                                                                    Student:&nbsp;
                                                                    <input class="form-control mr-sm-2" type="checkbox" placeholder="Search" aria-label="Search">
                                                                    Coordinator:&nbsp;
                                                                    <input class="form-control mr-sm-2" type="checkbox" placeholder="Search" aria-label="Search">
                                                                    Opponent:&nbsp;
                                                                    <input class="form-control mr-sm-2" type="checkbox" placeholder="Search" aria-label="Search">
                                                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Save</button>
                                                                  </form>
                                                    </nav> 
                                                </div>
                                            </div>
                                            
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="collapse multi-collapse" id="d2">
                                <div class="card card-body">
                                        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                                                <form class="form-inline">
                                                        First Name: &nbsp;
                                                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                                        Last Name: &nbsp;
                                                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                                        E-mail:&nbsp;
                                                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                                        Password:&nbsp;
                                                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                                      </form>
                                                      <form class="form-inline">
                                                            Supervisor: &nbsp;
                                                            <input class="form-control mr-sm-2" type="checkbox" placeholder="Search" aria-label="Search">
                                                            Reader: &nbsp;
                                                            <input class="form-control mr-sm-2" type="checkbox" placeholder="Search" aria-label="Search">
                                                            Student:&nbsp;
                                                            <input class="form-control mr-sm-2" type="checkbox" placeholder="Search" aria-label="Search">
                                                            Coordinator:&nbsp;
                                                            <input class="form-control mr-sm-2" type="checkbox" placeholder="Search" aria-label="Search">
                                                            Opponent:&nbsp;
                                                            <input class="form-control mr-sm-2" type="checkbox" placeholder="Search" aria-label="Search">
                                                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Save</button>
                                                          </form>
                                                      </form>
                                        </nav>
    
                                          
                                </div>
                              </div>
                            </div>
                          </div>
                    <!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                            <form class="form-inline">
                                First Name: &nbsp;
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                    Last Name: &nbsp;
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                    User ID:&nbsp;
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                  </form>
                    </nav>
                    <div class="display">
                            <div class="row">
                              <div class="col">
                                Display User List Or Display Search Result   
                                         
                            </div>
                        </div>
                        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                            <form class="form-inline">
                                    Supervisor: &nbsp;
                                    <input class="form-control mr-sm-2" type="checkbox" placeholder="Search" aria-label="Search">
                                    Reader: &nbsp;
                                    <input class="form-control mr-sm-2" type="checkbox" placeholder="Search" aria-label="Search">
                                    Student:&nbsp;
                                    <input class="form-control mr-sm-2" type="checkbox" placeholder="Search" aria-label="Search">
                                    Coordinator:&nbsp;
                                    <input class="form-control mr-sm-2" type="checkbox" placeholder="Search" aria-label="Search">
                                    Opponent:&nbsp;
                                    <input class="form-control mr-sm-2" type="checkbox" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Save</button>
                                  </form>
                    </nav> -->
            
            </body>
</html>     