<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coordinator page</title>
    <meta property="og:title" content="Start page"/>
    <meta property="og:type" content="website"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/coordinator.css"/>
</head>

<body>

<div th:replace="~{ /pages/menubar :: global-menubar(${user})}"></div>

<div class="accordion" id="accordion">

    <!--SEARCH AUTHOR-->
    <div class="card">
        <div class="card-header" id="headingZero">
            <div class="mb-0">
                <button class="btn btn-info btn-lg" type="button" data-toggle="collapse" data-target="#collapseZero">
                    Search Thesis
                </button>

            </div>
        </div>

        <div id="collapseZero" class="collapse" data-parent="#accordion">
            <div class="card-body" style="background-color: #e3f2fd;">

                <form class="form" th:object="${searchedUser}" th:action="@{'/coordinator/search'}" method="post">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label for="searchedFirstName">Student First Name</label>
                            <input type="search" placeholder="Search" id="searchedFirstName" class="form-control"
                                   th:field="*{firstName}">
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="searchedLastName">Student Last Name</label>
                            <input type="search" placeholder="Search" id="searchedLastName" class="form-control"
                                   th:field="*{lastName}">
                        </div>
                        <div class="col-md-3">
                            <div style="height: 30px"></div>
                            <button class="btn btn-success btn-lg" type="submit">Search</button>
                        </div>
                    </div>
                </form>

                <!--SHOW ALL SEARCHED THESES-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <table class="table table-striped table-bordered table-hover shadow">

                                <thead>
                                <tr class="table-primary">

                                    <th scope="col">Student</th>
                                    <th scope="col">Submissions</th>
                                    <th scope="col">Assess</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="thead-light" th:each="thesis : ${searchedThesisList}">

                                    <td>
                                        <a th:href="@{'/coordinator/thesis/id?thesisId=' + ${thesis.id}}">
                                 <span th:text="${thesis.student.firstName} + ' ' + ${thesis.student.lastName}">StudentName
                                 </span>
                                        </a>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${thesis.submissions}"
                                           th:href="@{'/submission/view?subId=' + ${submission.id}}">
                                            <div th:text="${submission.type}">SubmissionType
                                            </div>
                                            <hr>
                                        </a>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${thesis.submissions}">
                                            <a th:if="${submission.type.toString() == 'Project Description'} or ${submission.type.toString() == 'Project Plan'}"
                                               th:href="@{'/submission/assess?subId=' + ${submission.id} + '&decGr=false'}">
                                                Give Assessment</a>
                                            <a th:if="${submission.type.toString() == 'Final Report'}"
                                               th:href="@{'/submission/assess?subId=' + ${submission.id} + '&decGr=true'}">
                                                Give Assessment</a>
                                            <a th:unless="${submission.type.toString() == 'Project Description'} or ${submission.type.toString() == 'Project Plan'} or ${submission.type.toString() == 'Final Report'}">
                                                Not authorized to assess this submission</a>
                                            <hr>
                                        </a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--ASSIGN OPPONENTS FOR SEARCHED THESES-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <table class="table table-striped table-bordered table-hover shadow">

                                <thead>
                                <tr class="table-primary">

                                    <th scope="col">Student</th>
                                    <th scope="col">Submissions</th>
                                    <th scope="col">Current Opponent</th>
                                    <th scope="col">Set Opponent</th>
                                    <th scope="col">Assign</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="thead-light" th:each="eachThesis : ${searchedThesisList}">

                                    <td>
                                        <a th:href="@{'/coordinator/thesis/id?thesisId=' + ${eachThesis.id}}">
                                 <span th:text="${eachThesis.student.firstName} + ' ' + ${eachThesis.student.lastName}">StudentName
                                 </span>
                                        </a>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${eachThesis.submissions}"
                                           th:href="@{'/submission/view?subId=' + ${submission.id}}">
                                            <div th:text="${submission.type}">SubmissionType
                                            </div>
                                        </a>
                                    </td>

                                    <td>
                                 <span th:if="${eachThesis.opponent.firstName != null} and ${eachThesis.opponent.lastName != null}"
                                       th:text="${eachThesis.opponent.firstName} + ' ' + ${eachThesis.opponent.lastName}">CurrentOpponentName
                                 </span>
                                        <span th:unless="${eachThesis.opponent.firstName != null} and ${eachThesis.opponent.lastName != null}"
                                              th:text="''">CurrentOpponentName
                                 </span>
                                    </td>

                                    <form class="form" th:object="${thesis}"
                                          th:action="@{'/coordinator/assignOpponent/' + ${eachThesis.id}}"
                                          method="post">

                                        <td>

                                            <div class="form-group">
                                                <select class="form-control" id="searchOpponent"
                                                        style="overflow: auto"
                                                        th:field="*{opponent.username}">
                                                    <option th:each="opponent : ${opponents}"
                                                            th:value="${opponent.username}"
                                                            th:if="${opponent.username} != ${eachThesis.student.username}"
                                                            th:text="${opponent.firstName} + ' ' + ${opponent.lastName}">
                                                        OpponentName
                                                    </option>
                                                </select>
                                            </div>

                                        </td>

                                        <td>
                                            <button class="col-md-12 btn btn-success" type="submit">
                                                Assign
                                                Opponent
                                            </button>
                                        </td>
                                    </form>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--ASSIGN READERS FOR SEARCHED THESES-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <table class="table table-striped table-bordered table-hover shadow">

                                <thead>
                                <tr class="table-primary">

                                    <th scope="col">Student</th>
                                    <th scope="col">Submissions</th>
                                    <th scope="col">Current Readers</th>
                                    <th scope="col">Set Readers</th>
                                    <th scope="col">Assign</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="thead-light" th:each="eachThesis : ${searchedThesisList}">

                                    <td>
                                        <a th:href="@{'/coordinator/thesis/id?thesisId=' + ${eachThesis.id}}">
                                 <span th:text="${eachThesis.student.firstName} + ' ' + ${eachThesis.student.lastName}">StudentName
                                 </span>
                                        </a>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${eachThesis.submissions}"
                                           th:href="@{'/submission/view?subId=' + ${submission.id}}">
                                            <div th:text="${submission.type}">SubmissionType
                                            </div>
                                        </a>
                                    </td>

                                    <td>
                                 <span th:each="reader : ${eachThesis.readers}">
                                     <span th:text="${reader.firstName} + ' ' + ${reader.lastName}">CurrentReaderName
                                 </span>
                                     <br>
                                 </span>
                                    </td>

                                    <form class="form" th:object="${thesis}"
                                          th:action="@{'/coordinator/assignReaders/' + ${eachThesis.id}}"
                                          method="post">

                                        <td>
                                            <div class="form-group">
                                                <select class="custom-select" id="searchReaders"
                                                        multiple="multiple"
                                                        size="3"
                                                        style="overflow: auto" th:field="*{readers}">
                                                    <option th:each="bidder : ${eachThesis.bidders}"
                                                            th:value="${{bidder}}"
                                                            th:text="${bidder.firstName} + ' ' + ${bidder.lastName} + ' (bidder)'">
                                                        BidderName
                                                    </option>
                                                    <option th:each="reader : ${readers}"
                                                            th:value="${{reader}}"
                                                            th:text="${reader.firstName} + ' ' + ${reader.lastName}">
                                                        ReaderName
                                                    </option>
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <button class="col-md-12 btn btn-success" type="submit">
                                                Assign Readers
                                            </button>
                                        </td>
                                    </form>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--ASSIGN SUPERVISORS FOR SEARCHED THESES-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <table class="table table-striped table-bordered table-hover shadow">

                                <thead>
                                <tr class="table-primary">

                                    <th scope="col">Student</th>
                                    <th scope="col">Submissions</th>
                                    <th scope="col">Current Supervisor</th>
                                    <th scope="col">Set Supervisor</th>
                                    <th scope="col">Assign</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="thead-light" th:each="eachThesis : ${searchedThesisList}">

                                    <td>
                                        <a th:href="@{'/coordinator/thesis/id?thesisId=' + ${eachThesis.id}}">
                                 <span th:text="${eachThesis.student.firstName} + ' ' + ${eachThesis.student.lastName}">StudentName
                                 </span>
                                        </a>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${eachThesis.submissions}"
                                           th:href="@{'/submission/view?subId=' + ${submission.id}}">
                                            <div th:text="${submission.type}">SubmissionType
                                            </div>
                                        </a>
                                    </td>

                                    <td>
                                 <span th:if="${eachThesis.supervisor.firstName != null} and ${eachThesis.supervisor.lastName != null} and ${eachThesis.supervisorRequestStatus.getText() == 'Accepted'}"
                                       th:text="${eachThesis.supervisor.firstName} + ' ' + ${eachThesis.supervisor.lastName}">CurrentSupervisorName
                                 </span>
                                        <span th:if="${eachThesis.supervisor.firstName != null} and ${eachThesis.supervisor.lastName != null} and ${eachThesis.supervisorRequestStatus.getText() == 'Accepted'}"
                                              th:text="''">CurrentSupervisorName
                                 </span>
                                    </td>

                                    <form class="form" th:object="${thesis}"
                                          th:action="@{'/coordinator/assignSupervisor/' + ${eachThesis.id}}"
                                          method="post">

                                        <td>

                                            <div class="form-group">
                                                <select class="form-control" id="searchSupervisor"
                                                        style="overflow: auto"
                                                        th:field="*{supervisor.username}">
                                                    <option th:each="supervisor : ${supervisors}"
                                                            th:value="${supervisor.username}">

                                                        <span th:if="${supervisor == eachThesis.supervisor} and ${eachThesis.supervisorRequestStatus.getText() == 'Request Sent'}"
                                                              th:text="${supervisor.firstName} + ' ' + ${supervisor.lastName} + ' (requested)'">
                                                            RequestedSupervisorName
                                                        </span>

                                                        <span th:unless="${supervisor == eachThesis.supervisor} and ${eachThesis.supervisorRequestStatus.getText() == 'Request Sent'}"
                                                              th:text="${supervisor.firstName} + ' ' + ${supervisor.lastName}">
                                                            SupervisorName
                                                        </span>

                                                    </option>
                                                </select>
                                            </div>

                                        </td>

                                        <td>
                                            <button class="col-md-12 btn btn-success" type="submit">
                                                Assign
                                                Supervisor
                                            </button>
                                        </td>
                                    </form>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!--SHOW ALL THESES-->
    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-info btn-lg" type="button" data-toggle="collapse"
                        data-target="#collapseFive">
                    Assess Theses
                </button>
            </h5>
        </div>

        <div id="collapseFive" class="collapse" data-parent="#accordion">
            <div class="card-body" style="background-color: #e3f2fd;">

                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <table class="table table-striped table-bordered table-hover shadow">

                                <thead>
                                <tr class="table-primary">

                                    <th scope="col">Student</th>
                                    <th scope="col">Submissions</th>
                                    <th scope="col">Assess</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="thead-light" th:each="thesis : ${theses}">

                                    <td>
                                        <a th:href="@{'/coordinator/thesis/id?thesisId=' + ${thesis.id}}">
                                 <span th:text="${thesis.student.firstName} + ' ' + ${thesis.student.lastName}">StudentName
                                 </span>
                                        </a>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${thesis.submissions}"
                                           th:href="@{'/submission/view?subId=' + ${submission.id}}">
                                            <div th:text="${submission.type}">SubmissionType
                                            </div>
                                            <hr>
                                        </a>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${thesis.submissions}">
                                            <a th:if="${submission.type.toString() == 'Project Description'} or ${submission.type.toString() == 'Project Plan'}"
                                               th:href="@{'/submission/assess?subId=' + ${submission.id} + '&decGr=false'}">
                                                Give Assessment</a>
                                            <a th:if="${submission.type.toString() == 'Final Report'}"
                                               th:href="@{'/submission/assess?subId=' + ${submission.id} + '&decGr=true'}">
                                                Give Assessment</a>
                                            <a th:unless="${submission.type.toString() == 'Project Description'} or ${submission.type.toString() == 'Project Plan'} or ${submission.type.toString() == 'Final Report'}">
                                                Not authorized to assess this submission</a>
                                            <hr>
                                        </a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--ASSIGN OPPONENTS-->
    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-info btn-lg" type="button" data-toggle="collapse"
                        data-target="#collapseSix">
                    Assign Opponents
                </button>
            </h5>
        </div>

        <div id="collapseSix" class="collapse" data-parent="#accordion">
            <div class="card-body" style="background-color: #e3f2fd;">

                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <table class="table table-striped table-bordered table-hover shadow">

                                <thead>
                                <tr class="table-primary">

                                    <th scope="col">Student</th>
                                    <th scope="col">Submissions</th>
                                    <th scope="col">Current Opponent</th>
                                    <th scope="col">Set Opponent</th>
                                    <th scope="col">Assign</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="thead-light" th:each="eachThesis : ${theses}">

                                    <td>
                                        <a th:href="@{'/coordinator/thesis/id?thesisId=' + ${eachThesis.id}}">
                                 <span th:text="${eachThesis.student.firstName} + ' ' + ${eachThesis.student.lastName}">StudentName
                                 </span>
                                        </a>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${eachThesis.submissions}"
                                           th:href="@{'/submission/view?subId=' + ${submission.id}}">
                                            <div th:text="${submission.type}">SubmissionType
                                            </div>
                                        </a>
                                    </td>

                                    <td>
                                 <span th:if="${eachThesis.opponent.firstName != null} and ${eachThesis.opponent.lastName != null}"
                                       th:text="${eachThesis.opponent.firstName} + ' ' + ${eachThesis.opponent.lastName}">CurrentOpponentName
                                 </span>
                                        <span th:unless="${eachThesis.opponent.firstName != null} and ${eachThesis.opponent.lastName != null}"
                                              th:text="''">CurrentOpponentName
                                 </span>
                                    </td>

                                    <form class="form" th:object="${thesis}"
                                          th:action="@{'/coordinator/assignOpponent/' + ${eachThesis.id}}"
                                          method="post">

                                        <td>

                                            <div class="form-group">
                                                <select class="form-control" id="opponent"
                                                        style="overflow: auto"
                                                        th:field="*{opponent.username}">
                                                    <option th:each="opponent : ${opponents}"
                                                            th:value="${opponent.username}"
                                                            th:if="${opponent.username} != ${eachThesis.student.username}"
                                                            th:text="${opponent.firstName} + ' ' + ${opponent.lastName}">
                                                        OpponentName
                                                    </option>
                                                </select>
                                            </div>

                                        </td>

                                        <td>
                                            <button class="col-md-12 btn btn-success" type="submit">Assign
                                                Opponent
                                            </button>
                                        </td>
                                    </form>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--ASSIGN READERS-->
    <div class="card">
        <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-info btn-lg" type="button" data-toggle="collapse"
                        data-target="#collapseSeven">
                    Assign Readers
                </button>
            </h5>
        </div>

        <div id="collapseSeven" class="collapse" data-parent="#accordion">
            <div class="card-body" style="background-color: #e3f2fd;">

                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <table class="table table-striped table-bordered table-hover shadow">

                                <thead>
                                <tr class="table-primary">

                                    <th scope="col">Student</th>
                                    <th scope="col">Submissions</th>
                                    <th scope="col">Current Readers</th>
                                    <th scope="col">Set Readers</th>
                                    <th scope="col">Assign</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="thead-light" th:each="eachThesis : ${theses}">

                                    <td>
                                        <a th:href="@{'/coordinator/thesis/id?thesisId=' + ${eachThesis.id}}">
                                 <span th:text="${eachThesis.student.firstName} + ' ' + ${eachThesis.student.lastName}">StudentName
                                 </span>
                                        </a>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${eachThesis.submissions}"
                                           th:href="@{'/submission/view?subId=' + ${submission.id}}">
                                            <div th:text="${submission.type}">SubmissionType
                                            </div>
                                        </a>
                                    </td>

                                    <td>
                                 <span th:each="reader : ${eachThesis.readers}">
                                     <span th:text="${reader.firstName} + ' ' + ${reader.lastName}">CurrentReaderName
                                 </span>
                                     <br>
                                 </span>
                                    </td>

                                    <form class="form" th:object="${thesis}"
                                          th:action="@{'/coordinator/assignReaders/' + ${eachThesis.id}}"
                                          method="post">

                                        <td>
                                            <div class="form-group">
                                                <select class="custom-select" id="readers" multiple="multiple"
                                                        size="3"
                                                        style="overflow: auto" th:field="*{readers}">
                                                    <option th:each="bidder : ${eachThesis.bidders}"
                                                            th:value="${{bidder}}"
                                                            th:text="${bidder.firstName} + ' ' + ${bidder.lastName} + ' (bidder)'">
                                                        BidderName
                                                    </option>
                                                    <option th:each="reader : ${readers}" th:value="${{reader}}"
                                                            th:text="${reader.firstName} + ' ' + ${reader.lastName}">
                                                        ReaderName
                                                    </option>
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <button class="col-md-12 btn btn-success" type="submit">Assign
                                                Readers
                                            </button>
                                        </td>
                                    </form>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--ASSIGN SUPERVISORS-->
    <div class="card">
        <div class="card-header" id="headingEight">
            <h5 class="mb-0">
                <button class="btn btn-info btn-lg" type="button" data-toggle="collapse"
                        data-target="#collapseEight">
                    Assign Supervisors
                </button>
            </h5>
        </div>

        <div id="collapseEight" class="collapse" data-parent="#accordion">
            <div class="card-body" style="background-color: #e3f2fd;">

                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <table class="table table-striped table-bordered table-hover shadow">

                                <thead>
                                <tr class="table-primary">

                                    <th scope="col">Student</th>
                                    <th scope="col">Submissions</th>
                                    <th scope="col">Current Supervisor</th>
                                    <th scope="col">Set Supervisor</th>
                                    <th scope="col">Assign</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="thead-light" th:each="eachThesis : ${theses}">

                                    <td>
                                        <a th:href="@{'/coordinator/thesis/id?thesisId=' + ${eachThesis.id}}">
                                 <span th:text="${eachThesis.student.firstName} + ' ' + ${eachThesis.student.lastName}">StudentName
                                 </span>
                                        </a>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${eachThesis.submissions}"
                                           th:href="@{'/submission/view?subId=' + ${submission.id}}">
                                            <div th:text="${submission.type}">SubmissionType
                                            </div>
                                        </a>
                                    </td>

                                    <td>
                                 <span th:if="${eachThesis.supervisor.firstName != null} and ${eachThesis.supervisor.lastName != null} and ${eachThesis.supervisorRequestStatus.getText() == 'Accepted'}"
                                       th:text="${eachThesis.supervisor.firstName} + ' ' + ${eachThesis.supervisor.lastName}">CurrentSupervisorName
                                 </span>
                                        <span th:if="${eachThesis.supervisor.firstName != null} and ${eachThesis.supervisor.lastName != null} and ${eachThesis.supervisorRequestStatus.getText() == 'Accepted'}"
                                              th:text="''">CurrentSupervisorName
                                 </span>
                                    </td>

                                    <form class="form" th:object="${thesis}"
                                          th:action="@{'/coordinator/assignSupervisor/' + ${eachThesis.id}}"
                                          method="post">

                                        <td>

                                            <div class="form-group">
                                                <select class="form-control" id="supervisor"
                                                        style="overflow: auto"
                                                        th:field="*{supervisor.username}">
                                                    <option th:each="supervisor : ${supervisors}"
                                                            th:value="${supervisor.username}">

                                                        <span th:if="${supervisor == eachThesis.supervisor} and ${eachThesis.supervisorRequestStatus.getText() == 'Request Sent'}"
                                                              th:text="${supervisor.firstName} + ' ' + ${supervisor.lastName} + ' (requested)'">
                                                            RequestedSupervisorName
                                                        </span>

                                                        <span th:unless="${supervisor == eachThesis.supervisor} and ${eachThesis.supervisorRequestStatus.getText() == 'Request Sent'}"
                                                              th:text="${supervisor.firstName} + ' ' + ${supervisor.lastName}">
                                                            SupervisorName
                                                        </span>

                                                    </option>
                                                </select>
                                            </div>

                                        </td>

                                        <td>
                                            <button class="col-md-12 btn btn-success" type="submit">Assign
                                                Supervisor
                                            </button>
                                        </td>
                                    </form>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--INITIALIZE NEW SEMESTER-->
    <div class="card">
        <div class="card-header" id="headingNine">
            <h5 class="mb-0">
                <button class="btn btn-info btn-lg" type="button" data-toggle="collapse"
                        data-target="#collapseNine">
                    Initialize New Semester
                </button>
            </h5>
        </div>

        <div id="collapseNine" class="collapse" data-parent="#accordion">
            <div class="card-body" style="background-color: #e3f2fd;">

                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">

                            <table class="table table-striped table-bordered table-hover shadow">

                                <thead>
                                <tr class="table-primary">

                                    <th scope="col">Current Semester</th>
                                    <th scope="col">Semester Period</th>
                                    <th scope="col">Year</th>
                                    <th scope="col">Initialize</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="thead-light">

                                    <td>
                                 <span th:text="${currentSemester.semesterPeriod} + ' of ' + ${currentSemester.year}">CurrentSemester
                                 </span>
                                    </td>

                                    <form class="form" th:object="${semester}"
                                          th:action="@{'/coordinator/initializeSemester'}"
                                          method="post">

                                        <td>

                                            <div class="form-group">
                                                <select class="form-control" id="semesterPeriod"
                                                        th:field="*{semesterPeriod}">
                                                    <option th:each="semesterPeriod : ${semesterPeriods}"
                                                            th:value="${semesterPeriod}"
                                                            th:text="${semesterPeriod}">
                                                        SemesterPeriod
                                                    </option>
                                                </select>
                                            </div>

                                        </td>

                                        <td>

                                            <div class="form-group">
                                                <select class="form-control" id="year" th:field="*{year}">
                                                    <option th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), #dates.year(#dates.createNow())+5)}"
                                                            th:value="${year}" th:text="${year}">
                                                        Year
                                                    </option>
                                                </select>
                                            </div>

                                        </td>

                                        <td>
                                            <button class="col-md-12 btn btn-success" type="submit">Initialize
                                            </button>
                                        </td>
                                    </form>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--SET DEADLINES-->
    <div class="card">
        <div class="card-header" id="headingTen">
            <h5 class="mb-0">
                <button class="btn btn-info btn-lg" type="button" data-toggle="collapse"
                        data-target="#collapseTen">
                    Set Deadlines
                </button>
            </h5>
        </div>

        <div id="collapseTen" class="collapse" data-parent="#accordion">
            <div class="card-body" style="background-color: #e3f2fd;">

                <div class="container">
                    <div class="row">
                        <div class="col-md-14 offset-md-1">

                            <table class="table table-striped table-bordered table-hover shadow">

                                <thead>

                                <tr class="table-primary">

                                    <th scope="col">Current Semester</th>
                                    <th scope="col">Current Project Description Deadline</th>
                                    <th scope="col">Current Project Plan Deadline</th>
                                    <th scope="col">Current Report Deadline</th>
                                    <th scope="col">Current Final Report Deadline</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="thead-light">

                                    <td>
                                 <span th:text="${currentSemester.semesterPeriod} + ' of ' + ${currentSemester.year}">CurrentSemester
                                 </span>
                                    </td>

                                    <td>
                                 <span th:text="${currentSemester.projectDescriptionDeadline}">CurrentProjectDescriptionDeadline
                                 </span>
                                    </td>

                                    <td>
                                 <span th:text="${currentSemester.projectPlanDeadline}">CurrentProjectPlanDeadline
                                 </span>
                                    </td>

                                    <td>
                                 <span th:text="${currentSemester.reportDeadline}">CurrentReportDeadline
                                 </span>
                                    </td>

                                    <td>
                                 <span th:text="${currentSemester.finalReportDeadline}">CurrentFinalReportDeadline
                                 </span>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-14">

                            <table class="table table-striped table-bordered table-hover shadow table-responsive">

                                <thead>

                                <tr class="table-primary">

                                    <th scope="col">Set Project Description Deadline</th>
                                    <th scope="col">Set Project Plan Deadline</th>
                                    <th scope="col">Set Report Deadline</th>
                                    <th scope="col">Set Final Report Deadline</th>
                                    <th scope="col">Set</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="thead-light">

                                    <form class="form" th:object="${semester}"
                                          th:action="@{'/coordinator/updateDeadline'}"
                                          method="post">

                                        <td>

                                            <div class="form-group">
                                                <input type="datetime-local" placeholder="date"
                                                       th:name="projectDescriptionDeadline"
                                                       id="projectDescriptionDeadline" class="form-control">
                                            </div>

                                        </td>

                                        <td>

                                            <div class="form-group">
                                                <input type="datetime-local" placeholder="date"
                                                       th:name="projectPlanDeadline"
                                                       id="projectPlanDeadline" class="form-control">
                                            </div>

                                        </td>

                                        <td>

                                            <div class="form-group">
                                                <input type="datetime-local" placeholder="date"
                                                       th:name="reportDeadline"
                                                       id="reportDeadline" class="form-control">
                                            </div>

                                        </td>

                                        <td>

                                            <div class="form-group">
                                                <input type="datetime-local" placeholder="date"
                                                       th:name="finalReportDeadline"
                                                       id="finalReportDeadline" class="form-control">
                                            </div>

                                        </td>

                                        <td>
                                            <button class="col-md-12 btn btn-success" type="submit">Set</button>
                                        </td>
                                    </form>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
</body>
</html>

<style>
    body {
        background-color: #EEEEEE;
    }
</style>