<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Submission</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>

<body>
<div th:replace="~{ pages/menubar :: global-menubar(${user},'as Student')}"></div>
<div class="container" style="margin-top: 100px">

    <div class="card rounded-lg bg-light shadow p-2" th:fragment="studentSubmissionFrom-fragment (submissionType, user)">
        <div class="card-header rounded bg-info">
            <h3 class="bg-info  text-white" th:text="${submissionType}">
                Submission Type
            </h3>
        </div>
        <div class="card-body bg-dark rounded">

            <div class="card bg-dark rounded-lg shadow p-1">
                <div class="card-header bg-info rounded">
                    <h4>Submission</h4>
                </div>
                <div class="card-body bg-light rounded">
                    <form class="form" th:action="@{/student/submit(stdId=${user.id}, subType=${submissionType})}"
                          method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="feedbackComment"><h4>Comment</h4></label>
                            <textarea class="form-control col-md-7" id="feedbackComment" rows="3"
                                      name="comment"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="feedbackFile"><h4>Upload File</h4></label>
                            <input type="file" class="form-control-file" id="feedbackFile" name="file">
                        </div>
                        <div class="form-group row justify-content-center">
                            <button type="submit" class="btn btn-lg btn-info col-md-3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>

<style>
    .card {margin-top: 10px}
    body{
        background-color:#EEEEEE;
    }
</style>