<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Supervisor page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>


<body>

<div th:replace="~{ /pages/menubar :: global-menubar(${user},'as Supervisor')}"></div>

<div class="accordion" id="accordion">

    <!--SEARCH AUTHOR-->
    <div class="card">
        <div class="card-header" id="headingOne">
            <div class="mb-0">
                <button class="btn btn-info btn-lg" type="button" data-toggle="collapse" data-target="#collapseOne">
                    Search Thesis & Requests
                </button>

            </div>
        </div>

        <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body" style="background-color: #e3f2fd;">
                <form class="form" th:object="${searchedUser}" th:action="@{'/supervisor/search'}" method="post">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label for="searchedFirstName">Author First Name</label>
                            <input type="search" placeholder="Search" id="searchedFirstName" class="form-control"
                                   th:field="*{firstName}">
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="searchedLastName">Author Last Name</label>
                            <input type="search" placeholder="Search" id="searchedLastName" class="form-control"
                                   th:field="*{lastName}">
                        </div>
                        <div class="col-md-3">
                            <div style="height: 30px"></div>
                            <button class="btn btn-success btn-lg" type="submit">Search</button>
                        </div>
                    </div>
                </form>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover shadow">
                                <thead>
                                <tr class="bg-warning">
                                    <th scope="col">Author</th>
                                    <th scope="col">Submissions</th>
                                    <th scope="col">Feedback</th>
                                    <th scope="col">Assess</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-primary" th:each="thesis : ${searchedThesisList}">

                                    <td>
                                        <span th:text="${thesis.student.firstName} + ' ' + ${thesis.student.lastName}">
                        StudentName</span>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${thesis.submissions}"
                                           th:if="${submission.getType().toString() == 'Project Plan'} or ${submission.getType().toString() == 'Report'}"
                                           th:href="@{'/submission/view?subId=' + ${submission.id}}">
                                            <div th:text="${submission.type}">SubmissionType
                                            </div>
                                            <hr>
                                        </a>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${thesis.submissions}">
                                            <a th:if="${submission.type.toString() == 'Project Plan'}"
                                               th:href="@{'/submission/feedback?subId=' + ${submission.id} + '&role=ROLE_SUPERVISOR'}">
                                                Give Feedback
                                                <hr>
                                            </a>
                                            <a th:if="${submission.type.toString() == 'Report'}">
                                                Not authorized to feedback this submission
                                                <hr>
                                            </a>
                                        </a>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${thesis.submissions}">
                                            <a th:if="${submission.type.toString() == 'Report'}"
                                               th:href="@{'/submission/assess?subId=' + ${submission.id} + '&decGr=true'}">
                                                Give Assessment
                                                <hr>
                                            </a>
                                            <a th:if="${submission.type.toString() == 'Project Plan'}">
                                                Not authorized to assess this submission
                                                <hr>
                                            </a>
                                        </a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <table class="table table-striped table-bordered table-hover shadow">
                                <thead>
                                <tr class="bg-warning">
                                    <th scope="col">Requester</th>
                                    <th scope="col">Reply</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-primary" th:each="request : ${searchedRequestList}">

                                    <td>
                                        <span th:text="${request.student.firstName} + ' ' + ${request.student.lastName}">
                        StudentName</span>
                                    </td>

                                    <td>
                                        <form class="form" th:object="${request}"
                                              th:action="@{'/supervisor/replyToSupervisionRequest/' + ${request.id} + '/Accepted'}"
                                              method="post">
                                            <button class="col-md-6 btn btn-success" style="float: left"
                                                    th:href="@{'/supervisor/replyToSupervisionRequest/' + ${request.id} + '/Accepted'}"
                                                    type="submit">Accept Supervision Request
                                            </button>
                                        </form>
                                        <form class="form" th:object="${request}"
                                              th:action="@{'/supervisor/replyToSupervisionRequest/' + ${request.id} + '/Rejected'}"
                                              method="post">
                                            <button class="col-md-6 btn btn-danger" style="left: 5px"
                                                    th:href="@{'/supervisor/replyToSupervisionRequest/' + ${request.id} + '/Rejected'}"
                                                    type="submit">Reject Supervision Request
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!--SHOW ALL ACCEPTED THESES-->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-info btn-lg" type="button" data-toggle="collapse" data-target="#collapseTwo">
                    All Theses
                </button>
            </h5>
        </div>

        <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body" style="background-color: #e3f2fd;">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover shadow">
                                <thead>
                                <tr class="bg-warning">
                                    <th scope="col">Author</th>
                                    <th scope="col">Submissions</th>
                                    <th scope="col">Feedback</th>
                                    <th scope="col">Assess</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-primary" th:each="thesis : ${thesisList}">

                                    <td>
                                        <span th:text="${thesis.student.firstName} + ' ' + ${thesis.student.lastName}">
                        StudentName</span>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${thesis.submissions}"
                                           th:if="${submission.getType().toString() == 'Project Plan'} or ${submission.getType().toString() == 'Report'}"
                                           th:href="@{'/submission/view?subId=' + ${submission.id}}">
                                            <div th:text="${submission.type}">SubmissionType
                                            </div>
                                            <hr>
                                        </a>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${thesis.submissions}">
                                            <a th:if="${submission.type.toString() == 'Project Plan'}"
                                               th:href="@{'/submission/feedback?subId=' + ${submission.id} + '&role=ROLE_SUPERVISOR'}">
                                                Give Feedback
                                                <hr>
                                            </a>
                                            <a th:if="${submission.type.toString() == 'Report'}">
                                                Not authorized to feedback this submission
                                                <hr>
                                            </a>
                                        </a>
                                    </td>

                                    <td>
                                        <a th:each="submission : ${thesis.submissions}">
                                            <a th:if="${submission.type.toString() == 'Report'}"
                                               th:href="@{'/submission/assess?subId=' + ${submission.id} + '&decGr=true'}">
                                                Give Assessment
                                                <hr>
                                            </a>
                                            <a th:if="${submission.type.toString() == 'Project Plan'}">
                                                Not authorized to assess this submission
                                                <hr>
                                            </a>
                                        </a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--SHOW ALL REQUESTED THESES-->
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-info btn-lg" type="button" data-toggle="collapse"
                            data-target="#collapseThree">
                        All Requests
                    </button>
                </h5>
            </div>

            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body" style="background-color: #e3f2fd;">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <table class="table table-striped table-bordered table-hover shadow">
                                    <thead>
                                    <tr class="bg-warning">
                                        <th scope="col">Requester</th>
                                        <th scope="col">Reply</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-primary" th:each="request : ${supervisionRequestsList}">

                                        <td>
                                        <span th:text="${request.student.firstName} + ' ' + ${request.student.lastName}">
                        StudentName</span>
                                        </td>

                                        <td>
                                            <form class="form" th:object="${request}"
                                                  th:action="@{'/supervisor/replyToSupervisionRequest/' + ${request.id} + '/Accepted'}"
                                                  method="post">
                                                <button class="col-md-6 btn btn-success" style="float: left"
                                                        th:href="@{'/supervisor/replyToSupervisionRequest/' + ${request.id} + '/Accepted'}"
                                                        type="submit">Accept Supervision Request
                                                </button>
                                            </form>
                                            <form class="form" th:object="${request}"
                                                  th:action="@{'/supervisor/replyToSupervisionRequest/' + ${request.id} + '/Rejected'}"
                                                  method="post">
                                                <button class="col-md-6 btn btn-danger" style="left: 5px"
                                                        th:href="@{'/supervisor/replyToSupervisionRequest/' + ${request.id} + '/Rejected'}"
                                                        type="submit">Reject Supervision Request
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<style>
    .card {
        margin-top: 5px
    }

    body {
        background-color: #EEEEEE;
    }
</style>